# Temporary Files
/var/*

!/var/cache
/var/cache/*
!var/cache/.gitkeep

!/var/log
/var/log/*
!var/log/.gitkeep

/.php-cs-fixer.cache
/.php-cs-fixer.php
/.phpunit.result.cache
/phpunit.xml

# Configuration
/config/parameters.yaml

# Third Party libraries
/vendor/
/composer.phar
